<div class="min-h-dvh flex flex-col">
  <ds-header
    class="flex sticky top-0 z-50"
    [image]="
      mediaService.isMobile()
        ? 'assets/angular-logo-sm.svg'
        : 'assets/angular-logo.svg'
    "
    (menuOpen)="layoutStore.toggleMenu()"
  ></ds-header>
  <main class="bg-primary flex-1 pb-8">
    <ds-drawer [opened]="layoutStore.isMenuOpen()">
      <ds-menu></ds-menu>
    </ds-drawer>
    <ds-divider [spacingTop]="'0px'" [spacingBottom]="'2em'"></ds-divider>
    <div
      [class]="
        layoutStore.isMenuOpen()
          ? 'blur-sm h-full w-full overflow-hidden cursor-pointer scroll-none'
          : ''
      "
      (click)="onBackdropClicked($event)"
    >
      <ng-content></ng-content>
    </div>
  </main>
</div>
