<main class="lg:px-[8rem] max-lg:px-[2rem]">
  <ds-h1>
    Meus estudos em
    <ds-text-gradient type="angular"> Angular 17! </ds-text-gradient>
  </ds-h1>

  <ds-p>
    Seja bem vindo! Você deve estar se perguntando:
    <span class="font-thin">"que lugar é esse? 🤔"</span>
  </ds-p>
  <ds-p>
    Esse projeto foi criado com o intuito praticar a criação de componentes num
    modelo de Design System no
    <ds-text-gradient type="angular"> Angular 17. </ds-text-gradient>
    A intenção é criar um catálogo de componentes, similar a uma documentação. A
    proposta é evitar a utilização de uma biblioteca de componentes prontos,
    como um MaterialUI ou similares, pra ter o controle total dos componentes na
    minha mão, tanto seus visuais quanto seus comportamentos. Serial possível
    utilizar os componentes prontos de alguma bibliotica, encapsulando e
    customizando em componentes da minha aplicação, mas preferi seguir em uma
    abordagem mais pura, apenas utilizando
    <span class="text-sky-400">tailwindcss.</span> A verdade é que eu tava bem
    ansioso pra brincar com as novidades do
    <ds-text-gradient type="angular"> Angular 17, </ds-text-gradient>
    então essa abordagem me proporciona mais prática e conhecimentos nesse
    sentido.
  </ds-p>
  <ds-p>
    Pretendo também disponibilizar essa página com vários temas (no mínimo tema
    escuro e claro). Seria legal conseguir utilizar os componentes em diversas
    páginas, simulando seu uso num projeto real. Por exemplo, ter uma página que
    simula uma loja virtual, e montá-la com os componentes do Design System.
    Outra ideia é consumir uma API (ou mais) pra montar outras páginas com os
    mesmos componentes, demonstrando sua versatilidade e reusabilidade.
  </ds-p>

  <div class="mt-12 flex flex-col text-center">
    <ds-p>Divirta-se!</ds-p>

    <img class="lg:self-center" src="assets/cute-cat.gif" />
  </div>
</main>
