html[data-theme='theme-dark'] {
  --primary: #0f0f11;
  --contrast: white;
  --contrast-100: #f9fafb;
  --contrast-200: #d1d5db;
  --contrast-300: #9ca3af;
  --contrast-400: #45494f;
  --contrast-500: #1f1f24;
  --secondary: #ffacf0;
}
