html[data-theme='theme-default'] {
  --primary: white;
  --contrast: #0f0f11;
  --contrast-100: #1f1f24;
  --contrast-200: #45494f;
  --contrast-300: #9ca3af;
  --contrast-400: #d1d5db;
  --contrast-500: #f9fafb;
  --secondary: #ffacf0;
}
