<div class="bg-primary w-full flex justify-between px-4 py-2">
  <div class="flex flex-row">
    <ds-button (clicked)="menuOpen.emit()">
      <ds-icon icon="assets/burger-menu.svg"></ds-icon>
    </ds-button>
    @if (image(); as image) {
    <img class="h-[50px] ml-8" alt="Logotipo" [src]="image" />
    }
  </div>
  <div class="flex items-center">
    <span class="text-contrast-300 block">
      developed by
      <a
        class="underline decoration-solid"
        href="https://github.com/gustabessa"
        target="_blank"
        >gustabessa</a
      >
    </span>
  </div>
</div>
